<a class="btn btn-common" (click) = "gotoideaslist()">Go back to your Portal</a>

<h3 >Evaluate Idea</h3>
<form (submit)="rateidea()">
  

      <div class="panel panel-info">
         <div class="panel-heading">
            Evaluation Matrix (10 highest in each category)
         </div>
         <div class="panel-body">




            <div class="row">
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Revenue Impact Score</label>
                     <select [value]="ideadata.IdeaScoreRevenueImpact"
                     (input)="ideadata.IdeaScoreRevenueImpact=$event.target.value" name="IdeaScoreRevenueImpact">
                            <option *ngFor="let c of ideaScoreCostSavingImpact" [ngValue]="c">{{c}}</option>
                        </select>
                  </div>
               </div>

               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Cost Savings Impact Score</label>
                     <select [value]="ideadata.IdeaScoreCostSavingImpact"
                     (input)="ideadata.IdeaScoreCostSavingImpact=$event.target.value" name="IdeaScoreCostSavingImpact">
                            <option *ngFor="let c of ideaScoreCostSavingImpact" [ngValue]="c">{{c}}</option>
                        </select>
                  </div>
               </div>

               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Investment Impact Score</label>
                     <select [value]="ideadata.IdeaScoreInvestmentImpact"
                     (input)="ideadata.IdeaScoreInvestmentImpact=$event.target.value" name="IdeaScoreInvestmentImpact">
                            <option *ngFor="let c of ideaScoreInvestmentImpact" [ngValue]="c">{{c}}</option>
                        </select>
                  </div>
               </div>

               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Process Impact Score</label>
                     <select [value]="ideadata.IdeaScoreProcessImpact"
                     (input)="ideadata.IdeaScoreProcessImpact=$event.target.value" name="IdeaScoreProcessImpact">
                            <option *ngFor="let c of ideaScoreProcessImpact" [ngValue]="c">{{c}}</option>
                        </select>
                  </div>
               </div>

            </div>

            <div class="row">

                  <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Give Status</label>
                     <select [value]="ideadata.IdeasStatus"
                     (input)="ideadata.IdeasStatus=$event.target.value" name="IdeasStatus">
                            <option *ngFor="let c of ideasStatus" [ngValue]="c">{{c}}</option>
                        </select>
                  </div>
               </div>

               <div class="col-xs-6 col-md-9">
                  <div class="form-group">
                     <label>Comment</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaComment"
                     (input)="ideadata.IdeaComment=$event.target.value" name="IdeaComment" >
                  </div>
               </div>

                 
            </div>
            
         </div>
      </div>
<input type="submit" value="Submit" class="btn btn-success">
</form>

<h3 >View Idea</h3>
<form (submit)="editidea()">
  

      <div class="panel panel-info">
         <div class="panel-heading">
            Your Idea Details
         </div>
         <div class="panel-body">

            <div class="row">
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Proposed by</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaProposedBy"
                     (input)="ideadata.IdeaProposedBy=$event.target.value" name="IdeaProposedBy" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Team Members</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaTeamMembers"
                     (input)="ideadata.IdeaTeamMembers=$event.target.value" name="IdeaTeamMembers" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Manager</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaSecondedByManagerStatus"
                     (input)="ideadata.IdeaSecondedByManagerStatus=$event.target.value" name="IdeaSecondedByManagerStatus" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Department</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaSecondedByDepartmentNameStatus"
                     (input)="ideadata.IdeaSecondedByDepartmentNameStatus=$event.target.value" name="IdeaSecondedByDepartmentNameStatus" readonly="readonly">
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-xs-6 col-md-12">
                  <div class="form-group">
                     <label>Title of idea</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaTitle"
                     (input)="ideadata.IdeaTitle=$event.target.value" name="IdeaTitle" readonly="readonly">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Revenue Impact(in Lakhs)</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaRevenueImpact"
                     (input)="ideadata.IdeaRevenueImpact=$event.target.value" name="IdeaRevenueImpact" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Cost Impact(in Lakhs)</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaCostImpact"
                     (input)="ideadata.IdeaCostImpact=$event.target.value" name="IdeaCostImpact" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Impact Area</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaImpactArea"
                     (input)="ideadata.IdeaImpactArea=$event.target.value" name="IdeaImpactArea" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Impact Type</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaImpactType"
                     (input)="ideadata.IdeaImpactType=$event.target.value" name="IdeaImpactType" readonly="readonly">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Capital required(in Lakh)</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaCapitalInvestment"
                     (input)="ideadata.IdeaCapitalInvestment=$event.target.value" name="IdeaCapitalInvestment" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-6">
                  <div class="form-group">
                     <label>Support required</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaReourcesDescription"
                     (input)="ideadata.IdeaReourcesDescription=$event.target.value" name="IdeaReourcesDescription" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Challenges</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaChallengesDescription"
                     (input)="ideadata.IdeaChallengesDescription=$event.target.value" name="IdeaChallengesDescription" readonly="readonly">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-6 col-md-6">
                  <div class="form-group">
                     <label>Primary Partner Department</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaPrimaryPartnerDepartment"
                     (input)="ideadata.IdeaPrimaryPartnerDepartment=$event.target.value" name="IdeaPrimaryPartnerDepartment" readonly="readonly">
                  </div>
               </div>
               <div class="col-xs-6 col-md-6">
                  <div class="form-group">
                     <label>Other Partner Department</label>
                     <input class="form-control" rows="5" type="text" [value]="ideadata.IdeaOtherPartnerDepartment"
                     (input)="ideadata.IdeaOtherPartnerDepartment=$event.target.value" name="IdeaOtherPartnerDepartment" readonly="readonly">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-6 col-md-9">
                  Use the link on the right to download the attachment. This attachment contains details related to the idea.
               </div>
               
               <div class="col-xs-6 col-md-3">
                  <div class="form-group">
                     <label>Attached document</label>
                     <br/>
                     <a href={{ideadata.IdeaAttachmentLink}}>{{ideadata.IdeaAttachmentName}}</a>
                  </div>
               </div>
            </div>
         </div>
      </div>



</form>