<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Instructions!
				</h2>
				
<h5 align="justify">Dear Sir/ Ma’am,</h5>
<h5 align="justify"> As you must be aware that GST is proposed to be implemented in India w.e.f 1st July 2017. Most of the present indirect taxes would be replaced by GST (e.g. Excise duty, VAT / CST, Service tax would be replaced by GST) </h5>
<h5 align="justify">In view of the same, this communication is being made to all our business partners so that you can ensure that below steps are being well taken in advance, in order to have the efficiencies of GST and ensure smooth implementation of change:</h5>
<ul>
	<li>Get the GST Identification Number on time from the Government and provide us an update in this regard. </li>
	<li>Update master details for our records.</li>
	<li>Provide a plan to implement GST compliant invoices along with HSN (Harmonised System of Nomenclature i.e. Excise classification) / SAC codes( Service Accounting Code to be specified by the Government shortly) and tax at line level (wherein line level means the reporting in the GST return for each line item coming in invoice having a separate HSN/ SAC code)</li>
	<li>Establish a process to avoid input GST mismatching</li>
	<li>Ensure appropriate training to your finance, tax, sales & procurement team</li>
	<li>Ensure that your accounting software are upgraded to provide the reports required for filing returns under the GST regime</li>
</ul>

<h5 align="justify">In the above context, we wish to highlight that the tax payers under the GST regime will be required to upload the invoice level (i.e. transaction level) detail online, while filing the GST Returns. These details will be auto-reconciled with the invoice level detail uploaded by your customers.  Accordingly, the system will determine the eligibility of input tax credit for the tax payer. In case of any mismatch in details of GSTN, the input tax credit is likely to be denied, leading to additional tax cost for the buyer. The system is in line with the current system of traces (i.e. Form 26AS under the Income tax laws) but will work on a real time basis (i.e. monthly).</h5>
<h5 align="justify">To summarise, Input Tax credit to buyer will be allowed only if :</h5>
<ul>
	<li>Invoices raised are GST compliant.</li>
	<li>Invoice details have been correctly uploaded while filing GST returns.</li>
	<li>Payment of GST by vendor. </li>
</ul>

<h5 align="justify">We would like to further highlight that under GST, the pool of input taxes available as credit would increase significantly; thereby, leading to reduction in tax cost of business operations. For instance, under the current regime, CENVAT credit is not eligible of tax paid on goods and services used in trading operations. Similarly, CST and entry tax costs that are incurred today would be replaced by creditable GST.</h5>
<h5 align="justify">In this regard, it would be pertinent to review the existing terms of our contract to factor in the effects of proposed change in law on pricing of products.  We request you to assess expected impact of GST on the costs of your business operations and determine the consequent impact on pricing. We will shortly be scheduling discussions with you on this subject matter.</h5>
<h5 align="justify"><strong>In view of the above, we request you to provide us with the data referred to in the link that we have shared with you.</strong></h5>
<h5 align="justify">We are pleased to have you as a valued vendor and we sincerely look forward to continuing our business relationship in the future.</h5>
<h5 align="justify">Thank you for your partnership, integrity and professionalism.</h5>












				<p>
					<a class="btn btn-primary btn-large" href="www.gst.gov.in">Learn more</a>
				</p>
			</div>
		</div>
	</div>
</div>